<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Selete Manager</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <select class="form-control" name="userid" [(ngModel)]="selectedUser">
      <option [value]="usr.userId" *ngFor="let usr of user">{{usr.fname}} {{usr.lname}}</option>
    </select>
    <button (click)="passBack()" type="submit" style="margin:10px;"class="btn btn-primary">Select</button>
  </div>